<div id="footer">
  <div class="row mt-50">
    <hr />
    <div class="imgZone">
      <a href="#"
        ><img class="h-30" src="../assets/images/corona-logo.svg" alt=""
      /></a>
    </div>
    <div class="social">
      <a
        href=""
        class="uk-icon-button uk-margin-small-right"
        uk-icon="twitter"
      ></a>
      <a
        href=""
        class="uk-icon-button uk-margin-small-right"
        uk-icon="facebook"
      ></a>
      <a href="" class="uk-icon-button" uk-icon="google-plus"></a>
    </div>
  </div>
</div>
